* {
  box-sizing: border-box;
}

:root {
  --main-color: #333333;
  --border-color: #33333333;
  --background-color: #eee;
}

html {
  /* root font size REM */
  /* 1.25 * 16px = 20px */
  font-size: 1.25em;
}

@media (max-width: 320px) {
  html {
    font-size: 1em;
  }
}


body {
  margin: 0;

  font-family: 'Times New Roman', Times, serif;
  color: var(--main-color);
}

h2, p {
  margin: 0;
}

/* GRID */
.grid-cards {
  padding: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 680px) {
  .grid-cards {
    padding: .5em;

    grid-template-columns: 1fr;
  }
}

/* CARD */
.card {
  position: relative;

  background-color: var(--background-color);
 
  border: .1rem solid var(--border-color);
  border-radius: 2rem;
}
@media (max-width: 320px) {
  .card {
    /* 0.8 * 20px = 16px */
    /* font-size: 80%; */
    flex-wrap: wrap;
  }
}
.first-part-wrapper {
  padding: 2em 2em 0 2em;
  display: flex;
}



/* card content */
.card-content {
  margin-right: 1rem;
}

.card-title {
 
  font-size: 2em;
  font-weight: normal;
  
}

.card-subtitle {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.card-description {
  margin-bottom: 1em;
  font-size: .9em;

}

/* card graphic */
.card-graphic {
  text-align: right;
  flex-basis: 20%;
  flex-shrink: 0;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;

}

.card-number {
  font-size: 2em;
  
}


.card-symbol {
  margin: .6em auto;
  width: 40px;
  height: auto;
  /* background-color: wheat; */

} 

.card-symbol .gradiant {
  background: linear-gradient(to left, black 25% 50%, white 50% 56%, black 25% 50% );
  margin: 0 0 5px 0;
  width: 100%;
  height: 4px;
}


div .card-symbol-full-width {
  background-color: black;
  margin: 0 0 8px 0;
  width: 100%;
  height: 4px;
}




.card-img {
  width: 100%;
  height: auto;
  display: block;

  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  
  position: relative;
  bottom: 0;
}



@media (max-width: 320px) {
  .card-graphic {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    order: -1;
    flex-basis: 100%;
  }
  .card-symbol {
    order: -1;
  }
  /* .card-footer { 
    height: 10em;
  } */
}



